.NavBar{
background-color: #ffffff;
border: solid 1px #ececa3;
border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
margin-left: 10rem;
margin-right: 10rem;
margin-top: 2rem;
display: flex;
align-items: center;
box-shadow: 0 2px 4px #b5e550;
height: 8rem;
}

.NavLink {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .NavLink i {
    padding: 5px 10px;
    font-size: 24px;
  }
  .Active i {
    color: #607c3c;
  }
