.SearchBar input {
    border: solid 1px #ececa3 ;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px #b5e550;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }
  .BackgroundImage{
    background-image: url("https://res.cloudinary.com/nazek/image/upload/v1696596605/fun_times_7_xtqc9q.webp");
  }